<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <script src="main.js" defer></script>
  </head>

  <body>    
    <div class="wrapper">
      <%- include("./partials/header.ejs") %> 

      <% if (!(products.length > 0)) { %>
        <div class="main-404">
          <h1>Нет товаров.</h1>
        </div>
      <% } else { %>
        <div class="wrapper-main">
          <div class="aside">
            <ul class="categories">
              <li class="category">
                <a class="category-link active" data-category="all">ВСЕ</a>
              </li>
            <% products.forEach(product => { %>
              <% if (!categoriesArray.includes(product.category)) { %>  
                <% categoriesArray.push(product.category); %> 
                <li class="category">
                  <a class="category-link" data-category="<%= product.category %>"> <%= product.category %> </a>
                </li>
              <% } %> 
            <% }); %> 
            </ul>
          </div> <!-- aside -->

          <div class="main">
            <% products.forEach(product => { %>
            <a
              href="<%= product.title %> "
              data-product="<%= product.category %>"
              class="product-link"
            >
              <div class="product-image-wrapper">
                <img
                  class="product-image"
                  src="uploads/<%= product.images[0] %>"
                  alt=""
                />
                <div class="product-content fade">
                  <%= product.title %>  <br />
                  <%= product.price %>тг 
                </div>
              </div>
            </a>
            <% }); %>
          </div> <!-- main -->
        </div> <!-- wrapper-main -->
      <% } %> 

      <%- include("./partials/footer.ejs") %>
    </div> <!-- wrapper -->

  </body>
</html>
